{% extends 'BseCandidatureBundle::layout_base.html.twig' %}

{% block content %}
  
    <style>
      body{ 
        background-image:url({{ asset('bundles/bsecandidature/img/imguniv.png') }} );
        background-repeat:no-repeat;
        width: auto;
        no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
      ); 
    </style>

		<div class="full-content-center" style="background : rgba(255, 255, 255, 0.42) none repeat scroll 0% 0%; box-shadow: 3px 3px 16px #555;   z-index: 999999999; box-shadow: rgba(0, 0, 0, 0.3); border-radius: 6px; overflow: hidden; overflow-x: hidden; overflow-y: hidden;">
			<p class="text-center"><a href="#"><img src="{{ asset('bundles/bsecandidature/img/Untitled.png') }}" alt="Logo" width="46%" ></a></p>
			<div class="login-wrap">
				<div class="login-block">
					<form class="form" action="{{ path("fos_user_security_check") }}" method="post"> 
			{% if error %}
			    <div class="alert alert-danger" role="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
			{% endif %}

						<div class="form-group login-input">
						<i class="fa fa-user overlay"></i>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
               			 <!--<input name="_username" id="email" type="text" value="{{ last_username }}"  placeholder="Code apogee" class="form-control text-input" required="required" >-->
                     <input name="_username" id="email" type="text" value=""  placeholder="Code apogee" class="form-control text-input" required="required" >
						</div>
						<div class="form-group login-input">
						<i class="fa fa-key overlay"></i>
 						<input name="_password" required="required"  type="password" placeholder="CNE" class="form-control text-input" value="">
						</div>
				        <input type="hidden" name="_target_path" value="/" />
						<div class="row">
							<div class="col-sm-12">
								<center>
									<input type="submit" required="required" class="btn btn-success btn-block" value="S'identifier"/>

								</center>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

{% endblock %}
